
div img{
    height: 100%;

}

body{
    background-color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.border{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 100%;
    font-family: serif;
    font-weight: bold;
    border-right: 1px white solid;
}
.grid{
    margin-top: 5px;
    height: 100vh;
    width: 200vh;
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr);
    gap: 20px;}
    

    
.header{
    width: 225vh;
    color: white;
    background-color: black;
    height: 100px;
    border-bottom: 1px white solid;
}

.box{


    border-radius: 20px;
}
.box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
#second{
    grid-column: 3 / 5;
    grid-row: 3;
    
}
#aa{
    grid-row: 3;
    grid-column: 5;
}

#third{
    grid-row: 2/3;
    grid-column: 2/4;
}
#flex{
    grid-row: 1;
    grid-column: 2/4;
}
#tylerleft{
    grid-row: 1/3;
    grid-column: 4;
}
#tylerright{
    grid-row: 1/3;
    grid-column: 5;
}
