body {
    height: 90vh;
    margin: 0px;
    width: 220vh;

}
.top {
    height: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 5px;
    border: 5PX black solid;
    background-color: black;
}
.mini {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.grid {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    height: 104%;
    gap: 5px;

}
.box {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box img {
    margin: auto;
    width: 150PX;
    height: 120px;
    
}
.minibox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}